@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

// Fonts
$font-heading: "Poiret One", serif;
$font-text: "Montserrat", serif;

// Plain Colors
$dark-green: #446959;
$light-green: #9EE0C3;
$light: #FFFCF8;
$clay: #C76647;

